services:
# --- Frontend Service ---
  minicrm-frontend:
    build:
      context: ./mini_crm_frontend
      dockerfile: Dockerfile
    container_name: minicrm-frontend
    env_file:
      - ./mini_crm_frontend/.env
    networks:
      - recker-net
      - shared-net
    restart: unless-stopped
    ports:
      - "5173:5173"
    depends_on:
      minicrm-backend:
        condition: service_started
      minicrm-kafka-consumer-service:
        condition: service_started
      minicrm-vendor-service:
        condition: service_started
      minicrm-data-injestion-service:
        condition: service_started

  # --- Backend API ---
  minicrm-backend:
    build:
      context: ./minicrm_backend
      dockerfile: Dockerfile
    container_name: minicrm-backend
    env_file:
      - ./minicrm_backend/.env
    networks:
      - recker-net
      - shared-net
    restart: always

  # --- Kafka Consumer ---
  minicrm-kafka-consumer-service:
    build:
      context: ./minicrm_backend_consumer
      dockerfile: Dockerfile
    container_name: minicrm-kafka-consumer-service
    env_file:
      - ./minicrm_backend_consumer/.env
    depends_on:
      - minicrm-backend
    networks:
      - recker-net
      - shared-net

  # --- Vendor Service ---
  minicrm-vendor-service:
    build:
      context: ./vendor_faker
      dockerfile: Dockerfile
    container_name: minicrm-vendor-service
    depends_on:
      - minicrm-backend
    networks:
      - recker-net

  # --- Data Ingestion Service ---
  minicrm-data-injestion-service:
    build:
      context: ./data_injestion_faker
      dockerfile: Dockerfile
    container_name: minicrm-data-injestion-service
    env_file:
    - ./data_injestion_faker/.env
    depends_on:
      - minicrm-backend
      - minicrm-kafka-consumer-service
    networks:
      - recker-net



networks:
  recker-net:
    external: true
  shared-net:
    external: true


