services:
# --- Frontend Service ---
  frontend:
    build:
      context: ./mini_crm_frontend
      dockerfile: Dockerfile
    container_name: mini-crm-frontend
    env_file:
      - ./mini_crm_frontend/.env
    networks:
      - recker-net
      - shared-net
    restart: unless-stopped
    # ports:
    #   - "5173:5173"
    depends_on:
      backend:
        condition: service_started
      consumer:
        condition: service_started
      vendor:
        condition: service_started
      data_injestion:
        condition: service_started

  # --- Backend API ---
  backend:
    build:
      context: ./minicrm_backend
      dockerfile: Dockerfile
    container_name: minicrm_backend
    env_file:
      - ./minicrm_backend/.env
    networks:
      - recker-net
      - shared-net
    restart: always

  # --- Consumer ---
  consumer:
    build:
      context: ./minicrm_backend_consumer
      dockerfile: Dockerfile
    container_name: minicrm_consumer
    env_file:
      - ./minicrm_backend_consumer/.env
    depends_on:
      - backend
    networks:
      - recker-net
      - shared-net

  # --- Vendor Service ---
  vendor:
    build:
      context: ./vendor_faker
      dockerfile: Dockerfile
    container_name: vendor_faker
    depends_on:
      - backend
    networks:
      - recker-net

  # --- Data Ingestion (faker) ---
  data_injestion:
    build:
      context: ./data_injestion_faker
      dockerfile: Dockerfile
    container_name: data_injestion_faker
    env_file:
    - ./data_injestion_faker/.env
    depends_on:
      - backend
      - consumer
    networks:
      - recker-net



networks:
  recker-net:
    external: true
  shared-net:
    external: true


